.top_container{
   background-color: rgb(62,191,255);
   background-image: url(../images/desktop/image-header.jpg);
   background-size: 100%;
   background-position: bottom;
   padding: 2.5rem 6.5% 0;
   color: #fff;
   text-align: center;
   background-repeat: no-repeat;
   position: relative;
}

@media (max-width: 500px){
   .top_container{
      background-image: url(../images/mobile/image-header.jpg);
      padding-bottom: 7.5rem;
   }
}