.third_page{
   text-align: center;
   padding: 8rem 12rem;
}

.testimonials{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 6.5rem;
   & .client_image{
      margin: 4rem auto;
   }
   & .icon{
      width: 5rem;
      border-radius: 50%;
   }
   & .client_text{
      margin-bottom: 5rem;
   }
   & .client_details{
      opacity: 80%;
      & p{
         opacity: 60%;
      }
   }
}

